.widget {
  position: absolute;
  border-radius: 15px;
  width: 90%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #222;
  transition: all 0.4s;
}

.container-add {
  margin-top: 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: right;
}