<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Minha Fazenda</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/box-imgs.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/footers.css">
    <link rel="stylesheet" href="/css/widget.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lists.css">
    <link rel="stylesheet" href="/css/preview-img.css">
    <link rel="stylesheet" href="/css/window.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <section class="side-menu menu">

        <span class="close-menu">&times;</span>
        <section class="info-producer">
            <img class="perfil-img" src="/images/perfil.jpg" alt="">
            <span class="name-producer">Dai</span>
            <button class="bt-action bt-action-view">Ver</button>
            <button class="bt-action bt-action-edit">Editar</button>
        </section>
        <nav class="options-menu">
            <hr>
            <a href="/home" class="home ">
                <span class="bar"></span>
                <span class="material-icons">view_quilt</span>
                <span class="label">Painel</span>

            </a>
            <hr>
            <a href="/plantations" class="plantations">
                <span class="bar"></span>
                <span class="material-icons">spa</span>
                <span class="label">Plantações</span>

            </a>
            <hr>
            <a href="/animals" class="animals">
                <span class="bar"></span>
                <span class="material-icons">pets</span>

                <span class="label">Animais</span>
            </a>
            <hr>
            <a href="/properties" class="properties">
                <span class="bar"></span>
                <span class="material-icons">home_work</span>
                <span class="label">Propriedades</span>
            </a>
            <hr>
            <a href="/people" class="people">
                <span class="bar"></span>
                <span class="material-icons">people_alt</span>
                <span class="label">Pessoas</span>
            </a>
            <hr>
            <a href="/calculator" class="calculator">
                <span class="bar"></span>
                <span class="material-icons">calculate</span>
                <span class="label">Calculadora</span>
            </a>
            <hr>
            <a href="/finance" class="finance">
                <span class="bar"></span>
                <span class="material-icons">monetization_on</span>
                <span class="label">Finanças</span>
            </a>
            <hr>
            <a href="/equipments" class="equipments">
                <span class="bar"></span>
                <span class="material-icons">agriculture</span>
                <span class="label">Equipamentos</span>
            </a>
            <hr>
        </nav>
        <span class="copy-right">Minha Fazenda <sup>&copy;</sup>Vinícius Araújo</span>
    </section>

    <header class="title-logo">
        <span class="open-menu"><img src="/images/menu.svg" alt=""></span>
        <img src="" alt="" class="logo">
        <h1 class="titulo">MINHA FAZENDA</h1>
    </header>

    <section class="content">
        {{{body}}}
    </section>
</body>

<script type="text/javascript" src="/scripts/menu.js"></script>
{{!-- <script type="text/javascript" src="/scripts/loadScripts.js"></script> --}}
<script type="text/javascript" class="js" src="/scripts/ajax.js"></script>
<script type="text/javascript" class="js" src="/scripts/lists.js"></script>
<script type="text/javascript" class="js" src="/scripts/main.js"></script>
<script type="text/javascript" class="js" src="/scripts/windows.js"></script>
<script type="text/javascript" class="js" src="/scripts/forms.js"></script>


</html>