<section class="widget">
  <h1>ANIMAIS</h1>

  <div class="title-list list-col-7">
    <span>Foto</span>
    <span>Nome</span>
    <span>Dono</span>
    <span>Tipo</span>
    <span>Data de nascimento</span>
    <span>Sexo</span>
    <span>Ações</span>
  </div>
  <hr>
  <div class="list-item list-col-7">
    <img src="" alt="">
    <span>Nome</span>
    <span>Dono</span>
    <span>Bovino</span>
    <span>13/11/2002</span>
    <span>Macho</span>
    <span>
      <button class="bt-action-view bt-action">Ver</button>
      <button class="bt-action-edit bt-action">Editar</button>
    </span>
  </div>
  <div class="container-add">
  <button class="bt-add"><span class="material-icons">add</span></button>
  </div>
</section>