<section class="financial widget">
    <h3>Finanças</h3>
    <div>
        <a href="/finance"><button class="bt-detail">Detalhes</button></a>
    </div>
    <h4>Gastos (R$)</h4>
    <h1>000</h1>
    <h4>Ganhos (R$)</h4>
    <h1>000</h1>
    <h4>Lucro (R$)</h4>
    <h1>000</h1>
</section>
<section class="mural widget">
    <h1>MURAL</h1>
    <section class="presentation">
        <section class="plantacao picture">
            <h1>Plantações</h1>
            <hr>
            <section>
                <div class="imgs">
                    <div class="img">
                        <img src="/home/vinicius/Downloads/perfil_2020.png" alt="">
                        <span>textoImg</span>
                    </div>
                </div>

                <div class="bt-control">
                    <button type="button" class="bt-previous">❮</button>
                    <button type="button" class="bt-next">❯</button>
                </div>
            </section>
        </section>
        <section class="animal picture">
            <h1>Animais</h1>
            <hr>
            <section>
                <div class="imgs">
                    <div class="img">
                        <img src="/home/vinicius/Downloads/perfil_2020.png" alt="">
                        <span>textoImg</span>
                    </div>
                </div>

                <div class="bt-control">
                    <button class="bt-previous">❮</button>
                    <button class="bt-next">❯</button>
                </div>
            </section>
        </section>
        <section class="propriedades picture">
            <h1>Propriedades</h1>
            <hr>
            <section>
                <div class="imgs">
                    <div class="img">
                        <img src="/home/vinicius/Downloads/perfil_2020.png" alt="">
                        <span>textoImg</span>
                    </div>
                </div>

                <div class="bt-control">
                    <button class="bt-bt-previous">❮</button>
                    <button class="bt-bt-next">❯</button>
                </div>
            </section>
        </section>
    </section>
</section>
<section class="people-partners widget">
    <h1>PESSOAS</h1>

    <div class="title-list list-col-4">
        <span>Perfil</span>
        <span>Nome</span>
        <span>Data nascimento</span>
        <span>Ações</span>
    </div>
    <hr>
    <div class="list-item list-col-4">
        <img src="" alt="">
        <span>Nome</span>
        <span>14/11/2002</span>
        <span>
            <button class="bt-action-view bt-action">Ver</button>
        </span>
    </div>
</section>
<br>
