<section class="widget">
  <h1>PLANTAÇÕES</h1>
  <hr>
  <div class="list-item">
    <img src="/images/perfil.jpg" alt="">
    <span class="item view-mobile">
      <span class="item-title">Nome:</span>
      <span class="item-value">Roça de pimentão</span>
    </span>
    <span class="item">
      <span class="item-title">Propriedade:</span><br>
      <span class="item-value">Fazenda Saquinho</span>
    </span>
    <span class="item">
      <span class="item-title">Trabalhadores:</span>
      <span class="item-value">Dai, Vinícius</span>
    </span>
    <span class="item">
      <span class="item-title">Data de plantio:</span>
      <span class="item-value">05/10/2020</span>
    </span>
    <span class="item view-mobile">
      <span class="item-title ">Cultura:</span>
      <span class="item-value">Pimentão</span>
    </span>
    <span class="separator"></span>
    <span class="more-options-list-item">
      <span class="material-icons bt-more-options">more_vert</span>

      <span class="options-list-item">
        <span class="item-option-list">
          <span class="material-icons icon-option-list-item">
            visibility
          </span>
          <span class="text-option-list-item">Ver</span>
        </span>
        <hr>
        <span class="item-option-list">
          <span class="material-icons icon-option-list-item">
            edit
          </span>
          <span class="text-option-list-item">Editar</span>
        </span>
        <hr>

        <span class="item-option-list open-add-options">
          <span class="material-icons icon-option-list-item">
            add
          </span>
          <span class="text-option-list-item ">Adicionar</span>
          <span class="material-icons arrow">
            keyboard_arrow_down
          </span>
        </span>
        <hr>
        <div class="options-add-item">
          <span class="item-option-add-list event">
            <span class="material-icons icon-option-list-item">
              event
            </span>
            <span class="text-option-list-item">Evento</span>
          </span>
          <hr>
          <span class="item-option-add-list harvest">
            <span class="material-icons icon-option-list-item">
              agriculture
            </span>
            <span class="text-option-list-item">Colheita</span>
          </span>
          <hr>
          <span class="item-option-add-list spent">
            <span class="material-icons icon-option-list-item">
              monetization_on
            </span>
            <span class="text-option-list-item">Gasto</span>
          </span>
        </div>
      </span>
    </span>
  </div>

  <div class="container-add">
    <a href="/html/plantation/form-create.html">
      <button class="bt-add">
        <span class="material-icons">add</span>
      </button>
    </a>
  </div>
</section>

{{!-- 
  <script type="text/javascript" class="js" src="/scripts/custom-select.js"></script>
  <script type="text/javascript" class="js" src="/scripts/forms.js"></script> --}}